# Ignore virtual environment
venv/
virenv/
env/

# Ignore compiled files
*.pyc
__pycache__/

# Ignore SQLite DB (optional)
*.sqlite3

# Ignore VS Code settings (optional)
.vscode/

# Ignore Django secret key file (if any)
*.env
virenv/